@import '../../styles/mixins.scss';

.promoCard:before {
    background-image: url('./dj-mobile.jpg');
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include md {
        background-attachment: fixed;
        background-image: url('./dj.jpeg');
        background-position: center bottom;
        background-size: cover;
        opacity: 0.3;

    }
}
.promoCard {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 65px;
    position: relative;
    text-align: center;
    width: 100vw;

    @include md {
        margin: 0;
    }

    &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__heading {
        font-family: 'Bungee', "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.5em;
        position: relative;
        text-align: center;

        @include lg {
            font-size: 4em;
        }
    }

    &__sub-heading {
        box-decoration-break: clone;
        display: inline;
        font-size: 1.5em;
        padding: 0.8rem;
        text-align: center;
        -webkit-box-decoration-break: clone;

        @include lg {
            font-size: 1.5em;
        }


        &-link {
            margin: 16px;
        }
    }

    &__button {
        background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
        border: 1px solid black;
        color: white;
        display: block;
        font-size: 1em;
        margin: 16px auto;
        padding: 0.3em;
        position: relative;
        text-decoration: none;
        width: 250px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-name: hover;
        animation-name: hover;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        &:before{
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 5%;
            height: 10px;
            width: 90%;
            opacity: 0;
            background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
            opacity: .4;
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px);
            -webkit-animation-name: hover-shadow;
            animation-name: hover-shadow;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        &:hover{
            background-color: #e16e50;
        }

        @include lg {
            font-size: 1.4em;
            margin-top: 48px;
            padding: 0.6em;
            width: 250px;
        }
    }
}

.jumbotron {
    margin-bottom: 0;
    position: relative;
}

.button-row a {
    display: inline-block;
    margin: 16px 16px;

    @include lg {
        margin: 40px 16px;
    }
}

@keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    100% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }

  @-webkit-keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }

    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  }

  @keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }

    50% {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  }

  @-webkit-keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }

  @keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    100% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }

