@import '../../styles/mixins.scss';

.button {
    background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
    border: 1px solid black;
    color: white;
    display: inline-block;
    font-size: 1em;
    margin: 16px;
    padding: 0.3em;
    position: relative;
    text-decoration: none;
    width: 200px;

    @include lg {
        padding: 0.6em;
    }

    &--kids {
        font-family: 'Baloo', cursive;
        font-size: 1.5em;
    }

    &--weddings {
        font-family: 'Petit Formal Script', cursive;
        font-weight: bold;
    }
}
