
@import '../../styles/mixins.scss';

.homeButtons {
    align-items: center;
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
    border-top: solid black 2px;
    padding: 24px;
    text-align: center;

    @include lg {
        height: 100vh;
    }


    &__card {
        background-color: black;
        border: solid white 4px;
        color: white;
        height: 400px;
        margin-bottom: 16px;

        & a {
            background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
            border: 1px solid black;
            color: black;
        }

        &-image {
            height: 180px;
        }

        &-text {
            font-size: 1.5em;
        }
    }

    &__title {
        font-size: 1.8em;
        &--kids {
            font-family: 'Baloo', cursive;
        }

        &--weddings {
            font-family: 'Petit Formal Script', cursive;
            font-weight: bold;
        }
    }
}
