
@import '../../styles/mixins.scss';

.homeButtons:before {
    background-attachment: fixed;
    background-image: url('../PromoCard/dj.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0.3;

    @include md {
        background-attachment: fixed;
        background-image: url('../PromoCard/dj.jpeg');
        background-size: cover;
        height: 100%;

    }
}

.homeButtons {
    align-items: center;
    display: flex;
    // background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
    // border-top: solid black 2px;
    padding: 24px;
    text-align: center;

    @include lg {
        height: 100vh;
    }

    &__section-title {
        margin-bottom: 32px;
        margin-top: 24px;
    }


    &__card {
        background-color: black;
        border: solid white 4px;
        box-shadow: 8px 8px 10px rgb(43, 43, 43);
        color: white;
        height: 400px;
        margin-bottom: 16px;

        & a {
            background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
            border: 1px solid black;
            color: black;
        }

        &-image {
            height: 180px;
        }

        &-text {
            font-size: 1.5em;
        }

        &-footer {
            margin-bottom: 16px;
        }
    }

    &__title {
        font-size: 1.8em;
        &--kids {
            font-family: 'Baloo', cursive;
        }

        &--weddings {
            font-family: 'Petit Formal Script', cursive;
            font-weight: bold;
        }
    }
}
