@import "../../styles/mixins.scss";
.packages {
    font-size: 20px;
    margin-top: 32px;

    &__title {
        margin-bottom: 32px;
    }

    &__enquire {
        display: flex;
        justify-content: center;
        margin: 64px 0;
    }

    &__steps {
        margin: 32px 0;

        &-text {
            margin-bottom: 32px;
        }
    }

    &__kids {
        margin-bottom: 24px;
    }

    &__select {
        text-align: center;
    }

    &__cards {
        margin-top: 40px;

        &-buttons {
            text-align: center;
        }

        &-button {
            background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
            color: white;
            border: 0;
            margin-bottom: 32px;
            width: 80%;

        }

        &-text {
            font-size: 14px;
            list-style: none;
            padding-left: 0;

            &-item {
                border-bottom: solid 1px grey;
                margin-bottom: 16px;
                padding-bottom: 16px;

                &:last-of-type {
                    border-bottom: 0;
                }

                &-icon {
                    margin-right: 12px;
                }
            }
        }
    }

    &__link {
        font-family: "Baloo", cursive;
        margin-bottom: 32px;
        background-image: linear-gradient(
            to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px black;
        color: transparent;
        width: 250px;
    }

    &__icon {
        color: violet;
        margin-left: 16px;
        height: 24px;
        width: 24px;
    }

    &__disclaimer {
        margin-bottom: 24px;
    }

    &__adons {
        margin-top: 40px;

        &-link a {
            color: purple !important;
            font-weight: bold;
        }

        &-link a:hover {
            color: orange !important;
        }
    }

    &__table {
        font-size: 16px;

        & th {
            border-top: none;
        }
    }

    h2 {
        margin-bottom: 24px;
    }

    &__price-bar {
        background-color: #d3d3d3;
        bottom: 0px;

        height: 80px;
        margin-top: 24px;

        position: sticky;
        text-align: center;
        width: 100%;

        & h3 {
            font-size: 24px;
            font-weight: bold;
            padding: 25px 0;
        }
    }

    .card {
        border: none;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
}

input[type="radio"] {
    display: none;

    + label {
        font-family: Arial, sans-serif;
        font-size: 14px;

        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-top: 15px;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 50%;
            border: 3px solid orange;
            text-align: center;
            line-height: 25px;

            .packages__tick {
                color: orange;
                opacity: 0;
                transition: all 0.3s ease;
            }

            @include xl {
                margin-right: 40px;
            }
        }
    }

    &:checked + label span .packages__tick {
        opacity: 1;
    }
}

input[type="checkbox"] {
    display: none;

    + label {
        font-family: Arial, sans-serif;
        font-size: 14px;

        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: 20px;
            margin-top: 8px;
            vertical-align: middle;
            cursor: pointer;
            border: 3px solid orange;
            text-align: center;
            line-height: 25px;

            .packages__tick {
                color: orange;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
    }

    &:checked + label span .packages__tick {
        opacity: 1;
    }
}
