.packages {
    margin: 32px 0;

    &__title {
        font-weight: bold;
        margin-bottom: 32px;
    }

    &__disclaimer {
        margin-bottom: 24px;
    }

    & a {
        color: purple !important;
        font-weight: bold;
    }

    & a:hover {
        color: orange !important;
    }

    &__adons {
        margin-top: 40px;
    }
}


