.gallery {
  font-size: 20px;
  margin: 32px 0;
  height: 100%;

  &__title {
    margin-bottom: 32px;
  }

  &__insta {
    width: 150px;
  }

  &__link {
    color: purple !important;
  }

  &__intro-bold {
    font-weight: bold;
  }

  // &__container::after {
  //   content: "";
  //   clear: both;
  //   display: table;
  // }

  &__image {
    // float: left;
    // width: 33.33%;
    // padding: 5px;
    width: 300px;
  }
}
