@import '../../styles/mixins.scss';

.modal-dialog {
    @include lg {
        max-width: 80%;
    }
}

.modal-header {
     background-color: black;
     border: 0;
     color: white;
     .close {
         color: white;
     }
}

.modal-content {
    border: solid 2px grey;
    background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
    width: 100%;
}

.modal-footer {
    background-color: black;
    border: 0;
}

.modal-dialog .btn {
    color: white;
    float: right;
    font-size: 1em;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 0.3em;
    position: relative;
    text-decoration: none;
    width: 100px;
}

.react-datepicker__time-container  {
    width: 100px;
}

.contactModal__date {
    display: block;
}
