@import '../../styles/mixins.scss';

.faqs {
    font-size: 20px;
    margin: 32px 0;

    &__title {
        margin-bottom: 32px;
    }

    &__image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        width: 150px;

        @include lg {
            float: right;
            margin-top: -70px;
        }

    }

    .card {
        & a {
            color: white !important;
        }
    }

    .card-header {
        background-image: linear-gradient(to bottom right, rgb(255, 141, 42), rgb(172, 56, 172));
        border: 1px solid black;

    }
}
