@import '../../styles/mixins.scss';


.quoteCarousel {
    margin: 24px auto;
    text-align: center;
    width: 100%;
    height: 100px;

    @include lg {
        width: 50%;
    }

    &__quote {
        font-size: 1.2em;
        font-style: italic;
    }
}
