.kids::before {
    background-image: url('https://res.cloudinary.com/musicandcolour/image/upload/v1570202048/Image_from_iOS_6_rxivzp.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.1;
}

.kids {
    font-family: 'Baloo', cursive;
    font-size: 20px;
    height: 100%;
    padding-top: 32px;
    position: relative;
    padding-bottom: 40px;

    &__section {
        margin-bottom: 36px;
    }

    &__link {
        color: orange;
    }

    &__title {
        margin-bottom: 32px;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px black;
        color: transparent;
        width: 220px;

    }

    &__intro {
        margin-bottom: 32px;
    }



    &__sub-title {
        margin-bottom: 32px;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px black;
        color: transparent;
        text-align: left;

        &--short {
            width: 130px;
        }

        &--long {
            width: 350px;
        }
    }

    &__link {
        color: #891d92 !important;

        &:hover {
            color:#e36522 !important;
        }
    }

    &__card {
        margin-bottom: 16px;
    }

    &__cards-text {
        font-size: 18px;
        list-style: none;
        padding-left: 0;

        &-item {
            border-bottom: solid 1px grey;
            margin-bottom: 16px;
            padding-bottom: 16px;

            &:last-of-type {
                border-bottom: 0;
            }

            &-icon {
                margin-right: 12px;
            }
        }
    }
}

.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* Если видео 16/9, то 9/16*100 = 56.25%. Также и с 4/3 - 3/4*100 = 75% */
}
.video video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
