
@import '../../styles/mixins';

.bioCard {
    font-family: 'Montserrat';
    padding:6%;
    text-align:center;

    &__image img {
        border-radius:50%;
        width: 50%;

    }

    &__content {
        margin-top: 32px;
        text-align: left;

        @include md {
            margin-top: 0;
        }

        &-heading {
            font-size: 2.5em;
        }

        &-list {
            line-height: 3em;
            list-style: none;
            padding-left: 0;
        }
    }
}

