
@import '../../styles/mixins';

.bioCard {
    font-family: 'Montserrat';
    padding:6%;
    text-align:center;

    &__image img {
        border-radius:50%;
        width: 45%;

    }

    &__image--mobile {
        display: block;

        @include md {
            display: none;
        }
    }

    &__image--right {
        display: none;

        @include md {
            display: block;
        }
    }

    &__content {
        margin-top: 32px;
        text-align: left;

        @include md {
            margin-top: 0;
        }

        &-heading {
            font-size: 1.5em;
        }

        &-list {
            line-height: 3em;
            list-style: none;
            padding-left: 0;

            &-title {
                font-family:'Open Sans' , sans-serif;
                font-weight: bold;
            }
        }
    }
}

