@import '../../styles/mixins.scss';

.navbar {
    background-color: black !important;
}
.navbar-brand {
    img {
        width: 270px;
    }
}

.navbar__title {
    color: white !important;
}

.navbar-nav {
    padding-left: 5px;
}

a {
    color: white !important;
    cursor: pointer;
    font-weight: 200;
}

.btn {
    background-image: linear-gradient(to bottom right, rgb(255, 141, 42), purple);
    border: 3px solid black;
    color: black;
    display: block;
    font-size: 1em;
    padding: 0.3em;
    position: relative;
    text-decoration: none;
    width: 150px;

    @include md {
        margin-left: 24px;
    }
}
