.footer-bs {
    background-color: black;
	padding: 20px 40px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    position: relative;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand { text-align: center; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; text-align: left; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-ns ul { list-style:none; padding:0px; margin-bottom: 32px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 8px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-ns li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:orange !important; text-decoration:none; cursor: pointer; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
    margin-top: 8px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 2px rgba(255,255,255,0.30); }
}
