.gallery {
    font-size: 20px;
    margin: 32px 0;
    height: 60vh;

    &__title {
        margin-bottom: 32px;
    }

    &__insta {
        width: 150px;
    }

    &__link {
      color: purple !important;
    }

}
